body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navber {
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}


.bottom {
    position: sticky;
    height: 130px;
    background-color: rgb(183, 106, 176);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
    padding: 0 10px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    width: 55%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}


.songItem img {
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}

.songlistplay {
    padding-right: 20px;
}


.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}



@media only screen and (max-width: 600px) {

    .songItemContainer {
        margin-top: 45px;
    }

      .container {
        background-color: black;
        color: white;
        /* display: flex; */
        /* margin: 23px auto; */
        width: 90%;
        border-radius: 12px;
        padding: 34px;
        background-image: url('.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    h1 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .songItem {
        height: 50px;
        display: flex;
        background-color: white;
        width: 110%;
        color: black;
        margin: 12px 0 12px -15px;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }

    .songItem img {
        width: 43px;
        margin: 0 5px;
        border-radius: 34px;
    }

    .songInfo {
        position: absolute;
        left: 10vw;
        margin-bottom: 100px;
        /* margin-left: 62px; */
    }
}
